*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62;
    overflow-x: hidden;
}

/*menu*/

header, img{
    width: 140px;
    height: 140px;
    justify-content: end;
    display: flex;
    margin-right: 50px;
    align-items: center;
}



.content {
    padding: 80px;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    padding-left: 30rem;
}

.first-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-section {
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)) ,url(imagens/massa-de-pizza.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.list-menu {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-menu li a {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 20px;
    font-weight: 200px;
}

.list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid  #ffc506;
    color: #ffc506;
    transition: 0.2s;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.first-section h1 {
    color: #ffc506;
    font-size: 90px;
    font-style: italic;


    
}

.first-section h2 {
    color:white;
    font-size: 25px;
}

.btn {
    width: 440px;
    display: flex;
    justify-content: space-between;
}

.btn button {
    width: 210px;
    height: 60px;
    background-color: #ffc506;
    border-radius: 10px;
    color: black;
    font-weight: 700px;
    margin-top: 4rem;
      
}

.btn button:hover {
    border: 1px solid #ffc506;
    background-color: transparent;
    color: #ffc506;
    transition: 0.2s;
}

#cardapio {
    padding: 30px;

}

.section-products {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.imagens-cardapio {
    width: 280px;
    height: 280px;
    align-items: center;
    
}


.text-products { /*chamamos nosso titulo para estilização*/
    margin-top: 10px; /*espaçamento do titulo em relação a img*/
    font-family: Arial, Helvetica, sans-serif; /*familia da fonte*/
    text-align: center; /*alinhamento do texto ao centro*/
    font-size: 22px; /*tamanho da letra*/

}


#cardapio > a { /*aqui chamamos nossa tag "a" para estilização*/
    text-decoration: none; /*desabilitamos a decoração (sublinhado)*/
    font-family: Arial, Helvetica, sans-serif; /*familia de fonte*/
    font-size: 20px; /*tamanho da fonte */
    color: black; /*cor da letra */
    display: flex; /*jogando lado a lado*/
    justify-content: end; /*alinhando ao centro*/
    text-align: end; /*alinhando ao centro*/

}
#cardapio > h2 {
    text-align: center;
    font-size: 40px;
}